<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>TaskManager</title>
    <link rel="stylesheet" href="/assets/mainpage.css">
    <link rel="stylesheet" href="/assets/aboutTask.css">
    <link rel="stylesheet" href="/assets/modals.css">
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="/dist/jQuery-Timepicker-Addon-master/dist/jquery-ui-timepicker-addon.js"></script>
    <link rel="stylesheet" href="/dist/jQuery-Timepicker-Addon-master/dist/jquery-ui-timepicker-addon.min.css">
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>

<div class="modal" data-modal="1">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
    </svg>
    <p class="modal__title">Создание задачи</p>
    <div class="container">
        <form method="post" action="/api/createtask" class="validate-form">
            <div class="row">
                <div class="col-25">
                    <label for="lname">Название задачи</label>
                </div>
                <div class="col-75 validate-input" data-validate="Неккоректное название">
                    <input style="background-color: white; height: none;" class="input100" type="text" autocomplete="off" name="nameTask" placeholder="Название задачи">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="users">Пользователь</label>
                </div>
                <div class="col-75">
                    <select id="users" name="users">
                        <%for(var i=0;i<allusers.length;i++){%>
                            <option value="<%= allusers[i].ID%>">
                                <%= allusers[i].Familia%>
                                    <%= (allusers[i].Ima).charAt(0)+"."%> (<%= allusers[i].Login%>)%>
                            </option>
                            <%}%>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="country">Срок выполнения</label>
                </div>
                <div class="col-75 validate-input" data-validate="Неккоректная дата и время">
                    <input style="background-color: white; height: none;" type="text" class="input100" autocomplete="off" id="datepker" name="dates" placeholder="Срок выполнения">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="textTask">Полный текст задачи</label>
                </div>
                <div class="col-75 validate-input" data-validate="Неккоректное описание">
                    <textarea id="textTask" class="input100" name="textTask" placeholder="Распишите задачу подробнее" style="border-radius: 0px; padding: 12px; background-color: white; min-height: 200px;height:200px; max-height: 300px; overflow: auto;"></textarea>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Создать задачу">
            </div>
        </form>
    </div>
</div>

<body class="ms-Fabric--isFocusHidden">
    <div id="main__div">
        <div id="main_div_con">
            <div id="div_after_main">
                <div class="lcol">
                    <div class="sidebar">
                        <div class="sidebar-content">
                            <div class="user-about">
                                <div style="padding: 10px;">
                                    <div style="display: flex; justify-content: center;">
                                        <div class="userInfo familia">
                                            <%= auth_user[0].Familia%>
                                                <%= auth_user[0].Ima%>
                                        </div>
                                    </div>
                                    <div class="userInfo log">
                                        <%= auth_user[0].Login %>
                                    </div>
                                    <div class="userInfo email">
                                        <%= auth_user[0].Email %>
                                    </div>
                                </div>
                                <li class="listItem-container">
                                    <a href="/logout">
                                        <div class="listItem">
                                            <div class="listItem-inner color-blue">
                                                <span class="listItem-icon">
                                                    <i class="icon fontIcon ms-Icon fa fa-sign-out iconSize-24"></i>
                                                </span>
                                                <span class="listItem-title listItem-titleParsed">
                                                    <span>Выход из системы</span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <nav class="sidebar-scroll">
                                <ul class="lists">
                                    <div>
                                        <li class="listItem-container">
                                            <a href="/">
                                                <div class="listItem">
                                                    <div class="listItem-inner color-blue">
                                                        <span class="listItem-icon">
                                                            <i class="icon fontIcon ms-Icon fa fa-tasks iconSize-24"></i>
                                                        </span>
                                                        <span class="listItem-title listItem-titleParsed">
                                                            <span>Поставленные мне задачи</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                    <div style="margin-bottom:9px">
                                        <a href="/metasks_done">
                                            <li class="listItem-container">
                                                <div class="listItem">
                                                    <div class="listItem-inner color-blue"><span class="listItem-icon"><i
                                                                class="icon fontIcon ms-Icon fa fa-check iconSize-24"></i></span>
                                                        <span class="listItem-title listItem-titleParsed"><span>Выполненные
                                                                задачи</span></span>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/metasks_dani">
                                            <li class="listItem-container">
                                                <div class="listItem">
                                                    <div class="listItem-inner color-blue">
                                                        <span class="listItem-icon">
                                                            <i class="icon fontIcon ms-Icon fa fa-list-ol iconSize-24"></i>
                                                        </span>
                                                        <span class="listItem-title listItem-titleParsed">
                                                            <span>Мои заданные задачи</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/frommetasks_done">
                                            <li class="listItem-container">
                                                <div class="listItem">
                                                    <div class="listItem-inner color-blue">
                                                        <span class="listItem-icon">
                                                            <i class="icon fontIcon ms-Icon fa fa-list-alt iconSize-24"></i>
                                                        </span>
                                                        <span class="listItem-title listItem-titleParsed">
                                                            <span>Выполн. мною заданные</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                    </div>
                                    <div style="margin-bottom:9px">
                                        <a href="/alltasks">
                                            <li class="listItem-container">
                                                <div class="listItem">
                                                    <div class="listItem-inner color-blue"><span class="listItem-icon"><i
                                                                class="icon fontIcon ms-Icon fa fa-globe iconSize-24"></i></span>
                                                        <span class="listItem-title listItem-titleParsed"><span>Все
                                                                задачи всех польз.</span></span>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                    </div>
                                </ul>
                            </nav>
                            <div class="sidebar-addList">
                                <div style="width: 100%;">
                                    <div class="listItem-container">
                                        <div id="planned" class="listItem">
                                            <button data-modal="1" class="js-open-modal listItem-inner color-blue"><span class="listItem-icon"><i
                                                        class="icon fontIcon ms-Icon fa fa-plus iconSize-24"></i></span>
                                                <span class="listItem-title listItem-titleParsed"><span>Создать
                                                        задачу</span></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="centerColumn">
                    <div id="mainCenter">
                        <div class="tasksToolbar">
                            <div class="tasksToolbar-top">
                                <div class="tasksToolbar-headline">
                                    <div class="tasksToolbar-titleContainer">
                                        <div class="tasksToolbar-titleItem">
                                            <h2 class="listTitle"><span>Задача от <%= task[0].Familia%>
                                                        <%= task[0].Ima%> от <%= (task[0].Date_Create).toLocaleString('ru-RU', { hour12: false })
                                                                %></span>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="mainsd">
                                    <div class="tasks">
                                        <div class="Itemtask">
                                            <div class="taskItem-body">
                                                <table>
                                                    <tr class="stroka_tabl">
                                                        <td class="nameTable-opisanie">Наименование задачи</td>
                                                        <td>
                                                            <%= task[0].NameTask%>
                                                        </td>
                                                    </tr>
                                                    <tr class="stroka_tabl">
                                                        <td class="nameTable-opisanie">Полный текст задачи</td>
                                                        <td>
                                                            <%= task[0].TextTask%>
                                                        </td>
                                                    </tr>
                                                    <tr class="stroka_tabl">
                                                        <td class="nameTable-opisanie">Задачу выдал</td>
                                                        <td><b>Фамилия Имя (Логин): </b>
                                                            <%= task[0].Familia%>
                                                                <%= task[0].Ima%> (
                                                                    <%= task[0].Login%>).
                                                                        <br /><b>Email: </b>
                                                                        <%= task[0].Email%>
                                                        </td>
                                                    </tr>
                                                    <tr class="stroka_tabl">
                                                        <td class="nameTable-opisanie">Задачу получил</td>
                                                        <td><b>Фамилия Имя (Логин): </b>
                                                            <%= poluchuser[0].Familia%>
                                                                <%= poluchuser[0].Ima%> (
                                                                    <%= poluchuser[0].Login%>).
                                                                        <br /><b>Email: </b>
                                                                        <%= poluchuser[0].Email%>
                                                        </td>
                                                    </tr>
                                                    <tr class="stroka_tabl">
                                                        <td class="nameTable-opisanie">Дата выдачи - срок выполнения
                                                        </td>
                                                        <td>
                                                            <%= (task[0].Date_Create).toLocaleString('ru-RU', { hour12: false })%> -
                                                                <%= (task[0].Date_Srok).toLocaleString('ru-RU', { hour12: false })%>
                                                        </td>
                                                    </tr>
                                                    <tr class="stroka_tabl">
                                                        <td class="nameTable-opisanie">Дата выполнения
                                                        </td>
                                                        <td>
                                                            <%if(task[0].Date_Vipolnenia==null){%>
                                                                Не выполнено
                                                                <%} else {%>
                                                                    <%=(task[0].Date_Vipolnenia).toLocaleString('ru-RU', { hour12: false })%>
                                                                        <%}%>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <% if(poluchuser[0].Login==auth_user[0].Login &&
                                                    task[0].Date_Vipolnenia==null) {%>
                                                    <button onclick="location.href='/havedone/<%=task[0].ID_Task%>'" class="custom-btn btn-16">Отметить как
                                                        выполненное</button>
                                                    <button onclick="location.href='/removetask/<%=task[0].ID_Task%>'" class="custom-btn btn-16" style="background-color: rgb(194, 92, 92); color: white;">Отказаться
                                                        от
                                                        выполнения</button>
                                                    <%}%>

                                                        <% if(auth_user[0].Login==task[0].Login){%>
                                                            <% if(task[0].Date_Vipolnenia==null){%>
                                                                <button onclick="location.href='/edittask/<%=task[0].ID_Task%>'" class="custom-btn btn-16">Редактировать
                                                                    задачу</button>
                                                                <%} %>
                                                                    <button onclick="location.href='/removetask/<%=task[0].ID_Task%>'" class="custom-btn btn-16" style="background-color: rgb(194, 92, 92); color: white;">Удалить
                                                                        задачу</button>
                                                                    <%} %>

                                                                        <button onclick="history.back();" class="custom-btn btn-16" style="background-color: rgb(173, 173, 173);">Вернуться
                                                                            назад</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="overlay js-overlay-modal"></div>
    <script src="/dist/modals.js"></script>
</body>